{% extends '_base.html' %}

{% load account %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
    <h1>Password Reset</h1>
    
    {% if user.is_authenticated %}
        {% user_display user as user_display %}
        <p>{{ user_display }}, we have sent you an e-mail. Please use the link in the email to reset your password.</p>
    {% else %}
    	<p>We have sent you an e-mail. Please use the link in the email to reset your password.</p>
    {% endif %}
    <p><a href="{% url 'account_login' %}">Login</a></p>
{% endblock %}